{% extends 'base.html.twig' %}

{% block title %}Editer un site web {% endblock %}

{% block body %}

<div class="container">
    <h1 class="my-5 text-center"> Editer un Website </h1>

        {{ form_start(form) }}

        <div class="row">
            <div class="col-6">
                {{ form_row(form.name) }}
            </div>
            <div class="col-6">
                {{ form_row(form.url) }}
            </div>
            <div class="col-12 text-center my-3">
                {{ form_row(form.submit) }}
            </div>
        </div>

        {{ form_start(form) }}

</div>

{% endblock %}
